@import "src/styles/mixins/responsive";
@import "src/styles/mixins/hideScrollbar";

.cerateOrdersPanel {
  height: 548px;
  position: relative;

  .nav {
    padding: 8px 0 16px;
  }

  form {
    display: flex;
    flex-direction: column;

    .formContent {
      height: 418px;
      overflow: auto;
      @include hideScrollbar;

      @include responsive(sm) {
        height: 406px;
      }
    }

    .btn {
      margin-top: auto;
    }
  }
}
