@import "src/styles/constants";

.proofView {
  padding-top: 0 !important;
  min-height: calc(100vh - 110px);

  .proofJsonViewContainer {
    border-radius: 4px;
    padding: 12px;
    background-color: $c-base-darker;

    .react-json-view {
      .variable-row:last-of-type {
        * {
          line-break: anywhere;
        }

        .variable-value {
          width: 100%;
          overflow: hidden;

          > div {
            width: 100%;
          }
        }
      }
    }
  }

  .proofViewHeader {
    display: flex;
    align-items: center;
    height: 48px;

    h4 {
      margin: 0;
    }

    .btn {
      margin-left: auto;

      i {
        margin-right: 8px;
      }
    }
  }
}
