@import 'src/styles/constants.scss';
@import 'src/styles/mixins/hideScrollbar';
@import 'src/styles/mixins/tableColumns';

.orderBook {
  height: 542px;
}

.orderBookTable {
  @include tableColumns(20%, 40%, 40%);
  overflow: auto;
  @include hideScrollbar;
  height: 540px;

  .tableBody {
    div[role=row] {
      position: relative;

      &:not(.lastOrderDataContainer) {
        cursor: pointer;
      }

      &:hover:not(.lastOrderDataContainer) {
        background-color: $c-base;
      }

      &::after {
        opacity: 0.12;
        content: "";
        width: var(--bar-width);
        transition: width 0.2s ease;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      &.ask {
        &::after {
          background-color: $c-danger;
        }

        div[role=cell]:first-child {
          color: $c-danger;
        }
      }

      &.bid {
        &::after {
          background-color: $c-success;
        }

        div[role=cell]:first-child {
          color: $c-success;
        }
      }

      div[role=cell] {
        z-index: 2;
        position: relative;

        > span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &:first-child {
          justify-content: flex-start;
          padding-left: 5%;
        }

        > .label {
          margin-left: 4px;
          vertical-align: middle;
          background-color: $c-base-light!important;
        }
      }
    }
  }

  div[role=row].lastOrderDataContainer {
    width: 100%;
    align-items: center;
    background-color: $c-base-darker;
    z-index: 3;
    height: 6rem;
    position: sticky;
    top: 0;
    bottom: 0;

    > div[role=cell]:first-child {
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;

      > div:first-of-type {
        font-size: 1.75rem;

        &.grow {
          color: $c-success;
        }

        &.loss {
          color: $c-danger;
        }
      }
    }
  }
}
