@import 'src/styles/constants.scss';
@import 'src/styles/mixins/hideScrollbar';

.orderBook {
  height: 542px;
  overflow-y: auto;
  @include hideScrollbar;
}

.orderBookTable {
  th:first-child {
    width: 4rem;
  }

  tbody tr {
    position: relative;

    &:not(.lastOrderDataContainer) {
      cursor: pointer!important;
    }

    &:hover:not(.lastOrderDataContainer) {
      background-color: $c-base;
    }

    &::after {
      opacity: 0.1;
      content: "";
      width: var(--bar-width);
      transition: width 0.2s ease;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.ask {
      &::after {
        background-color: $c-danger;
      }

      td:first-child {
        color: $c-danger;
      }
    }

    &.bid {
      &::after {
        background-color: $c-success;
      }

      td:first-child {
        color: $c-success;
      }
    }

    td {
      z-index: 2;
      position: relative;
      padding-left: 8%;

      &:first-child {
        padding-left: 5%;
      }

      > .label {
        margin-left: 4px;
        vertical-align: middle;
        background-color: $c-base-light!important;
      }
    }
  }

  .lastOrderDataContainer {
    > td {
      height: 6rem;
      vertical-align: middle;

      > div:first-of-type {
        font-size: 1.75rem;

        &.grow {
          color: $c-success;
        }

        &.loss {
          color: $c-danger;
        }
      }
    }
  }
}
