.metricsViewSelectOption {
    display: flex;
    align-items: center;
    
    img {
        height: 40px;
        width: 40px;
        margin-right: 20px;
        line-height: 40px;
        text-align: center;

        &.disabled {
            opacity: 0.6;
        }
    }
}
