@import "@/styles/constants.scss";
@import "@/styles/mixins/transparentButton";

.menu {
  display: flex;
}

.balanceContainer {
  width: 32rem;
  display: flex !important;
  flex-flow: column nowrap;
  align-items: flex-start !important;
  font-size: inherit !important;
}

.balanceTitle {
  color: $c-secondary !important;
}

.balance {
  color: $c-secondary-darker !important;
}

.dropdown {
  display: inline-block;
  margin-left: 2px;

  li[role="separator"] {
    background-color: $c-base-light !important;
  }
}

.button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: $c-secondary !important;

  @include transparentButton;

  &:focus {
    outline: 1.5px solid $c-secondary !important;
  }
}

.icon {
  margin-right: 1rem;
}
