@import "src/styles/constants.scss";
@import "src/styles/mixins/transparentButton";

.menu {
  display: flex;
}

.balance {
  margin: 0 1rem 0 3rem;
  max-width: 12rem;
}

.dropdown {
  display: inline-block;
  margin-left: 2px;
}

.button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: $c-secondary !important;

  @include transparentButton;

  &:focus {
    outline: 1.5px solid $c-secondary !important;
  }

  > i:first-child {
    margin-right: 12px;
  }
}
