@import 'src/styles/constants.scss';
@import 'src/styles/mixins/responsive';
@import 'src/styles/mixins/hideScrollbar';

.container {
  position: relative;
}

.content {
  height: 594px;
  overflow: auto;
  @include hideScrollbar;

  @include responsive(sm) {
    height: auto;
  }

  p {
    position: relative;
  }
}

.jsonView {
  > div {
    line-break: anywhere;
  }
}

.description {
  word-wrap: break-word;
}

.imageContainer {
  position: absolute;
  top: 100;
  left: 0;
  background-color: transparent;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 5rem;
  z-index: 0;
  filter: grayscale(1);

  > img {
    height: 100%;
    width: 100%;
    opacity: 0.15;
  }
}

.toolbar {
  height: 64px;
  padding-top: 8px;
  margin-bottom: 12px!important;
}
