@import 'src/styles/constants.scss';
@import 'src/styles/mixins/responsive';

.circuitDetailedInfo {
  position: relative;
  @include responsive(lg) {
    height: 816px;
  }

  h5 {
    word-wrap: break-word;
  }

  p {
    position: relative;
  }

  &__imageContainer {
    position: absolute;
    background-color: transparent;
    aspect-ratio: 1/1;
    width: 100%;
    padding: 2rem;
    margin: 2rem 0;
    z-index: 0;
    filter:grayscale(0.75);

    > img {
      height: 100%;
      width: 100%;
      opacity: 0.15;
    }
  }

  .react-json-view {
    line-break: anywhere;
  }
}
