@import "@/styles/constants.scss";
@import "@/styles/mixins/overflowEllipsis";

.container {
  padding: 0 15px;
  background-color: $c-base-darker;
}

.text {
  margin-bottom: 0.5rem;
  @include overflowEllipsis;

  span {
    margin-right: 0.5rem;
  }
}
