@import "src/styles/constants.scss";

.container {
  height: 65px;
  padding: 0 15px;
  background-color: $c-base-darker;
}

.description {
  margin-bottom: 0.5rem;
  // TODO - add overflow ellipsis

  span {
    margin-right: 0.5rem;
  }
}
