<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% if (process.env.NODE_ENV === 'production') { %>
      <meta
        name="robots"
        content="follow, index"
      />
    <% } %>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="theme-color"
      content="#222222"
    />
    <meta
      name="author"
      content="=nil; Foundation"
    />
    <meta
      name="copyright"
      content="=nil; Foundation"
    />
    <meta
      name="description"
      content="Proof market"
    />
    <meta
      name="keywords"
      content="=nil; Foundation, Solana, Mina, Ethereum, Market, Exchange"
    />
    <meta
      property="og:title"
      content="=nil; Foundation"
    />
    <meta
      property="og:description"
      content="Proof Market"
    />
    <meta
      property="og:image"
      content="/logo192.png"
    />
    <link
      rel="icon"
      href="/favicon.ico"
      sizes="any"
    />
    <link
      rel="icon"
      href="/icon.svg"
      type="image/svg+xml"
    />
    <link
      rel="apple-touch-icon"
      href="/apple-touch-icon.png"
    />
    <link
      rel="manifest"
      href="/manifest.json"
    />
    <title>=nil; Foundation - Proof Market</title>
    <link rel="stylesheet" href="/critical.css" />
    <!-- Preconnect to required origins -->
    <link
      rel="preconnect"
      href="https://www.google-analytics.com"
    />
    <link
      rel="preconnect"
      href="https://www.googletagmanager.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
    />
    <link
      rel="preconnect"
      href="https://kit.fontawesome.com"
    />
    <script
      defer
      src="https://kit.fontawesome.com/9264f6e460.js"
      crossorigin="anonymous">
    </script>
    <script
      type="text/javascript"
      src="/tomlParser.js">
    </script>
    <script type="text/javascript">
      function loadConfig() {
        var configPath;

        // ejs syntax
        if (<%= process.env.NODE_ENV === 'production' %>) {
          configPath = './runtime-config.toml';
        } else {
          configPath = './runtime-config.dev.toml';
        }

        var rawFile = new XMLHttpRequest();
        rawFile.open("GET", configPath, false);

        rawFile.onreadystatechange = function () {
          if(rawFile.readyState === 4)  {
            if(rawFile.status === 200 || rawFile.status == 0) {
              var rawConfig = rawFile.responseText;
              config = tomlParser.parse(rawConfig);
              window['RUNTIME_CONFIG'] = config;
            }
          }
        }
        rawFile.send(null);
      }

      loadConfig();
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- This html file is a template for MPA plugin. You need to inject script with entrypoint during build -->
  </body>
</html>
