.embedContainer {
  margin: 20px 0;
}
.grafanaEmbed {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary-dark);
  border-radius: 0.35rem;
  border: 2px solid var(--c-primary-lighter);
}
