@import "src/styles/constants.scss";
@import "src/styles/mixins/responsive";

.loginContainer {
  background-color: $c-base;
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @include responsive(sm) {
    background-color: $c-base-darker;
    padding-top: 4rem;
  }
}

.copyright {
  margin: {
    top: auto;
    bottom: 64px;
  }
}

.back {
  position: absolute;
  left: 10%;
  top: 50px;
  font-size: 1.75rem;

  i {
    margin-right: 1rem;
  }
}
