@import "src/styles/constants.scss";

.loginContainer {
  background-color: $c-base;
  padding-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.copyright {
  margin: {
    top: auto;
    bottom: 64px;
  }
}
