@import "src/styles/constants";
@import "src/styles/mixins/hideScrollbar";

.container {
  height: calc(100vh - 238px);
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  @include hideScrollbar;
}

.toolbar {
  position: sticky;
  bottom: 0;
  background-color: $c-base-darker;
  display: flex;
  border-top: 1px solid $c-base-light;
  padding-top: 1.5rem;

  button {
    display: flex;
    align-items: center;

    > i {
      margin-right: 1rem;
    }
  }
}

.progressContainer {
  margin-left: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
