@import "@/styles/constants.scss";
@import "@/styles/mixins/hideScrollbar";
@import "@/styles/mixins/overflowFade";
@import "@/styles/mixins/overflowEllipsis";

.panel {
  height: 135px;
  padding: 0 5px !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  height: 70px;
  padding: 0 15px;
  text-align: center;

  > * + * {
    margin-left: 40px;
  }

  @include hideScrollbar;
  @include overflowFade(15px);
}

.title {
  font-size: 1.2rem;
  padding: 0.2rem 0;
  white-space: nowrap;
}

.name {
  @include overflowEllipsis;
  min-width: 15rem;
}
