@import "src/styles/constants.scss";
@import "src/styles/mixins/hideScrollbar";

.container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  overflow-x: auto;

  @include hideScrollbar;
}

.title {
  font-size: 1.2rem;
  padding: 0.2rem 0;
}
