@import "../../../styles/constants.scss";
@import "@/styles/mixins/responsive";

.circuitChart {
  height: 406px;
  position: relative;

  @include responsive(sm) {
    height: 370px;
  }

  .spinner-grow-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
}
