.details {
  summary {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h4 {
      margin: 0;
    }

    + * {
      margin-top: 12px;
    }
  }
}
