@import "@/styles/mixins/responsive";
@import "@/styles/constants.scss";

.menu {
  margin: 16px 0;

  @include responsive(lg) {
    display: none;
  }

  @include responsive(md) {
    display: none;
  }
}

.button {
  background-color: $c-base !important;
  color: $c-secondary !important;
  border: 0;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;

  i {
    width: 16px;
  }
}
