@import '/src/styles/mixins/responsive';
@import '/src/styles/constants.scss';

.mobileMenu {
  margin: 16px 0;

  .btn {
    background-color: $c-base;
    color: $c-secondary;
    border-color: $c-secondary-darker;

    i {
      width: 16px;
    }
  }

  @include responsive(lg) {
    display: none;
  }

  @include responsive(md) {
    display: none;
  }
}
