@import '../../../styles/mixins.scss';

.mobileMenu {
  margin: 16px 0;

  .btn {
    background-color: var(--c-primary-dark);
    color: var(--c-secondary);
    border-color: var(--c-primary-light);
  }

  @include responsive(lg) {
    display: none;
  }

  @include responsive(md) {
    display: none;
  }
}
