@import 'src/styles/constants.scss';
@import 'src/styles/mixins/styledList';
@import 'src/styles/mixins/hideScrollbar';

.circuitsList {
  height: 350px;
  overflow: auto;
  @include hideScrollbar;

  .list-group {
    @include styledList;

    .list-group-item {

      .media-body {
        vertical-align: middle;
        height: 48px;
      }

      .dailyChangeIndicator {
        font-size: 1.1rem;
        margin-top: 4px;

        i {
          display: inline;
          margin-right: 4px;
        }
      }
    }
  }
}

