@import 'src/styles/constants.scss';
@import 'src/styles/mixins/styledList';
@import 'src/styles/mixins/hideScrollbar';

.circuitsList {

  .input-group {
    margin-bottom: 8px;
  }

  .list-group {
    @include styledList;
    height: 300px;
    overflow: auto;
    @include hideScrollbar;

    .list-group-item {

      .media-body {
        vertical-align: middle;
        height: 48px;
      }

      .dailyChangeIndicator {
        font-size: 1.1rem;
        margin-top: 4px;

        i {
          display: inline;
          margin-right: 4px;
        }
      }
    }
  }
}

