@import "@/styles/constants.scss";

.button {
  outline: none !important;
  display: inline-block;
  padding: 4px 8px !important;
  color: $c-secondary-darker !important;
  background-color: transparent !important;
  border: none !important;

  &:hover,
  &:focus {
    color: $c-secondary !important;
  }

  i {
    font-size: 12px;
  }
}
