@import "@/styles/constants.scss";
@import "@/styles/mixins/styledList";
@import "@/styles/mixins/hideScrollbar";
@import "@/styles/mixins/overflowFade";

.container {
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
}

.inputGroup {
  margin-bottom: 10px;
}

.dailyChangeIndicator {
  font-size: 1.1rem;
}

div.selected {
  color: $c-secondary !important;
}

.listGroup {
  @include styledList;
  @include hideScrollbar;
  height: 460px;
  flex-grow: 1;
  overflow: auto;
  padding-top: 8px;
  @include overflowFade(8px, true);
}

.itemBody {
  vertical-align: middle !important;
  height: calc(48px - 1rem);
  font-size: 1.25rem !important;
}

.cost {
  white-space: nowrap;
}

.tag {
  font-size: 1rem;
}
