@import '/src/styles/mixins/responsive';
@import '/src/styles/mixins/primaryLink';
@import '/src/styles/constants.scss';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    letter-spacing: 1px;

    @include responsive(sm) {
      display: none;
    }
  }

  code {
    font-weight: bold;
  }
}

.navbar {
  border-width: 0 0 1px;
  margin-bottom: 0;
}
