@import '../../../styles/mixins.scss';

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  letter-spacing: 1px;
  margin: 12px 0;

  @include responsive(xs) {
    display: none;
  }

  @include responsive(sm) {
    display: none;
  }
}
