@import "@/styles/mixins/responsive";
@import "@/styles/constants.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  code {
    font-family: "Menlo", Courier, monospace !important;
  }
}

.nav {
  letter-spacing: 1px;

  > li > a {
    border-radius: 0 !important;
    color: $c-secondary !important;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  @include responsive(sm) {
    display: none;
  }
}

.navbar {
  border-width: 0 0 1px;
  margin-bottom: 0;
}
