@import '/src/styles/mixins/responsive';
@import '/src/styles/mixins/primaryLink';
@import 'src/styles/constants.scss';

.customBreadcumbs {
  padding: 0!important;
  margin-top: 12px;
  margin-bottom: 12px!important;
  display: inline-block;
  margin-right: auto;

  @include responsive(sm) {
    > li:last-child {
      display: none!important;
    }
  }

  > li {
    height: 64px;
    display: inline-flex!important;
    align-items: center;
  }

  > li > a {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    color: $c-secondary;
    @include primaryLink {
      text-decoration: underline 1.5px;
    };
  }
}
