@import "@/styles/mixins/responsive";
@import "@/styles/mixins/primaryLink";
@import "@/styles/constants.scss";

.breadcrumbs {
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.item {
  height: 64px;
  display: inline-flex !important;
  align-items: center;

  @include responsive(sm) {
    > &:last-child {
      display: none !important;
    }
  }

  a {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 400;
    color: $c-secondary;

    @include primaryLink {
      text-decoration: underline 1.5px;
    }
  }
}
