@import 'src/styles/mixins/hideScrollbar';

.tradeHistory {
  height: 500px;
  overflow-y: auto;
  @include hideScrollbar;
}

.tradeHistoryTable {
  tbody tr td {
    &:not(:first-child) {
      padding-left: 6%;
    }
  }
}
