@import "@/styles/mixins/tableColumns";
@import "@/styles/mixins/hideScrollbar";
@import "@/styles/mixins/overflowFade";
@import "@/styles/mixins/responsive";

.container {
  height: 477px;

  @include responsive(sm) {
    height: 100%;
  }
}

.table {
  @include tableColumns(26%, 32%, 42%);
  height: 100%;
}

.virtualList {
  @include hideScrollbar;
  @include overflowFade(5px, true);
}
