@import "../../../styles/constants.scss";
@import "@/styles/mixins/responsive";

.chart {
  position: relative;

  .spinner-grow-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
}
