@import '../../../styles/constants.scss';

.dropdown {
  display: inline-block;
  margin-left: 2px;
}

.button {
  background: transparent!important;
  border: none;
  color: $c-secondary!important;
  font-size: 20px;
  padding-top: 10px!important;
  padding-bottom: 10px!important;

  &:focus {
    outline: 1.5px solid $c-secondary!important;
  }

  > i:first-child {
    margin-right: 12px;
  }
}
