@import '../../../styles/constants.scss';

.circuitDashboard {
  height: 500px;
  position: relative;

  .placeholder {
    background-color: $c-base-darker!important;
    border-radius: 6px;

    > .wave {
      background-color: $c-secondary-darker;
    }
  }

  .chartLegend {
    position: absolute;
    width: 250px;
    top: 12px;
    left: 12px;
    z-index: 2;

    h5 {
      margin-bottom: 4px;
    }

    span {
      display: block;
    }
  }
}
