@import 'src/styles/constants.scss';
@import 'src/styles/mixins/responsive';

.circuitDashboard {
  height: 614px;

  &__toolbar {
    background-color: $c-base-darker;
    display: flex;
    justify-content: space-between;
    padding: 6px;

    .nav {
      > li > a {
        padding: 5px 12px!important;
      }
    }

    .nav-pills > li.active {
      a, a:hover, a:focus {
        background-color: unset!important;
        font-weight: bold;
      }
    }
  }

  .chartTypeSelect {
    display: flex;
    flex-wrap: nowrap;
  }
}

.fullScreenChartContainer {
  padding: 25px 50px 100px;
  background-color: $c-base-darker;

  .circuitChart {
    height: 100%;
  }

  @include responsive(xs) {
    padding: calc(20px + env(safe-area-inset-top)) 25px calc(20px + env(safe-area-inset-bottom));
  }
}
