@import "@/styles/mixins/overflowEllipsis";

.balance {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-right: 0.5rem;
  }
}

.text {
  @include overflowEllipsis;
  margin-right: 0.5rem;
}

.hiddenText {
  text-overflow: unset;
  padding-top: 0.25rem;
}

.currency {
  flex-shrink: 0;
  padding-left: 0.5rem;
}

.label {
  padding-bottom: 0.3rem !important;
}
