.currenciesList {
  margin-top: 12px;
  margin-bottom: 12px;

  .list-group-item {
    border: none;
    border-radius: 12px;

    + .list-group-item {
      margin-top: 12px;
    }

    .media-body {
      vertical-align: middle;
    }

    .media-heading {
      margin: 0;
    }
  }
}
