@import 'src/styles/mixins/tableColumns';

.manageOrdersPanel {
  height: 500px;

  .nav {
    padding: 8px 0 16px;
  }

  .historyOrdersTable,
  .activeOrdersTable {
    tbody {
      height: 386px;
    }
  }

  .activeOrdersTable {
    @include tableColumns(30%, 16%, 20%, 30%, 6%);
  }

  .historyOrdersTable {
    @include tableColumns(24%, 16%, 30%, 30%);
  }
}
