@import "src/styles/constants.scss";
@import "src/styles/mixins/tableColumns";
@import "src/styles/mixins/responsive";

.manageOrdersPanel {
  height: 548px;
  position: relative;
}

.nav {
  padding: 8px 0 16px;
}
