@import "src/styles/constants.scss";
@import "src/styles/mixins/tableColumns";
@import "src/styles/mixins/responsive";

.manageOrdersPanel {
  height: 548px;
  position: relative;

  .nav {
    padding: 8px 0 16px;
  }

  .activeOrdersTable {
    @include tableColumns(6%, 24%, 20%, 20%, 24%, 6%);

    .titleRow {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 2rem;
    }
  }

  .historyOrdersTable {
    @include tableColumns(24%, 16%, 28%, 32%);
  }

  .activeOrdersTable,
  .historyOrdersTable {
    height: 488px;

    @include responsive(sm) {
      height: 428px;
    }
  }
}

.toolbarPanel {
  width: 100%;
  padding: 20px 0 20px;
  position: absolute;
  background-color: $c-base-darker;
  z-index: 3;
  bottom: 0;

  .buttons {
    display: flex;

    .btn + .btn {
      margin-left: 8px;
      margin-top: 0 !important;
    }
  }

  .message {
    padding-bottom: 4px;
  }
}
