@import "@/styles/constants.scss";
@import "@/styles/mixins/tableColumns";
@import "@/styles/mixins/responsive";

.manageOrdersPanel {
  height: 588px;
  position: relative;
}

.nav {
  padding: 8px 0 16px;
}
