@import 'src/styles/constants.scss';
@import 'src/styles/mixins/tableColumns';

.manageOrdersPanel {
  height: 500px;

  .nav {
    padding: 8px 0 16px;
  }

  .activeOrdersTable {
    @include tableColumns(28%, 16%, 20%, 30%, 8%);

    .removeIcon {
      cursor: pointer;
      display: inline-block;
      padding: 2px;
      padding-right: 4px;
      margin: -2px;

      &:hover,
      &:focus {
        color: $c-secondary;
      }
    }
  }

  .historyOrdersTable {
    @include tableColumns(24%, 16%, 30%, 30%);
  }
}
