@import "@/styles/mixins/hideScrollbar";
@import "@/styles/constants.scss";
@import "@/styles/mixins/overflowEllipsis";

.table {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  @include hideScrollbar;
  overflow: auto;
  color: $c-secondary-darker;
  margin-top: 2px;

  div[role="rowgroup"] {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  div[role="row"] {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 28px;
  }

  div[role="columnheader"],
  div[role="cell"] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  div[role="columnheader"] {
    color: $c-secondary;
    white-space: nowrap;
    font-weight: bold;

    > i {
      margin-left: 8px;
    }
  }

  div[role="cell"] {
    font-size: 1.2rem;

    > span {
      @include overflowEllipsis;
    }
  }
}

$defaultTableHeadBorder: 1px solid $c-base-light;

.tableHead {
  border-bottom: $defaultTableHeadBorder;
}

.footerHead {
  order: 2;

  &.stickyHead {
    bottom: 0;
    top: unset;
    border: {
      bottom: none;
      top: $defaultTableHeadBorder;
    }
  }
}

.stickyHead {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: $c-base-darker;
}
