@import "src/styles/constants.scss";
@import "src/styles/mixins/tableColumns";
@import "src/styles/mixins/responsive";
@import "src/styles/mixins/overflowFade";
@import "src/styles/mixins/hideScrollbar";
@import "src/styles/mixins/styledList";

.historyOrdersTable {
  @include tableColumns(24%, 16%, 20%, 40%);
  height: 528px;

  @include responsive(sm) {
    height: 407px;
  }
}

.listGroup {
  @include styledList;
  padding-bottom: 12px;
}

.container {
  @include hideScrollbar;
  overflow: auto;
  @include overflowFade(8px, true);

  height: 520px;

  @include responsive(sm) {
    height: 446px;
  }
}
