.title {
  text-align: center;
  margin: 0 0 2rem;
}

.description {
  margin-top: 42px;
}

.social {
  margin-top: 76px;
}

.control {
  margin-top: 12px;
}

.form {
  position: relative;
  height: 100%;
}

.successMessage {
  position: absolute;
  top: 10rem;
}

.bottomBlock {
  position: absolute;
  bottom: 0;
}
