.title {
  text-align: center;
  margin-top: 0;
}

.description {
  margin-top: 42px;
}

.social {
  margin-top: 76px;
}

.control {
  margin-top: 12px;
}

.form {
  position: relative;
}

.successMessage {
  position: relative;
  top: 10rem;
}
