.title {
  text-align: center;
  margin-top: 0;
}

.description {
  margin-top: 42px;
}

.control {
  margin-top: 12px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottomBlock {
  margin-top: auto;
}

.heading {
  text-align: center;
  margin: 1rem 0 4rem;
}

.errorMsg {
  height: 3rem;
  display: flex;
  align-items: center;
}
