@import 'src/styles/constants.scss';

.styledTable {
  margin-bottom: 0;
  margin-top: 2px;

  tbody td {
    border: none!important;
    text-align: center;
    font-size: 1.2rem;
  }

  th {
    border-bottom: 1px solid $c-base-light!important;
    text-align: center;
    color: $c-secondary-darker;

    > i {
      margin-left: 8px;
    }

    &.sortableColumn {
      color: $c-secondary;

      &:hover,
      &:focus {
        background-color: $c-base-light;
      }
    }
  }

  tbody tr td {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $c-secondary-darker;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none!important;
  }
}
