@import "src/styles/constants";
@import "src/styles/mixins/styledList";
@import "src/styles/mixins/hideScrollbar";

.proofList {
  min-height: calc(100vh - 110px);

  .list-group {
    @include styledList;
    height: calc(100vh - 176px);
    overflow: auto;
    @include hideScrollbar;
  }

  .list-group-item {
    padding-top: 1.25rem;
  }
}
