@import "@/styles/constants";
@import "@/styles/mixins/hideScrollbar";
@import "@/styles/mixins/overflowFade";

.container {
  height: calc(100vh - 274px);
}

.virtualList {
  @include hideScrollbar;
  @include overflowFade(0.5rem, true);
}

.button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.8rem !important;
}

.item {
  overflow: hidden;
  background-color: $c-base;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  position: relative;
}
