@import "src/styles/constants";
@import "src/styles/mixins/styledList";
@import "src/styles/mixins/hideScrollbar";

.container {
  height: calc(100vh - 176px);
}

.proofList {
  @include styledList;
  height: 100%;
  overflow: auto;
  @include hideScrollbar;
}
