@import 'src/styles/constants';
@import 'src/styles/mixins/styledList';

.proofList {
  @include styledList;

  .react-json-view {
    pointer-events: none;

    div.icon-container {
      display: none!important;
    }

    span {
      color: $c-secondary!important;
    }

    .object-key {
      opacity: 1!important;
    }

    + .react-json-view {
      margin-top: 20px;
    }
  }

  &:hover {
    .react-json-view {
      cursor: pointer!important;
    }
  }
}
