@import './styles/constants.scss';

main {
  padding: 20px 0;
}

.form-control,
.input-group-addon,
.form-control[readonly],
.input-group-btn .btn {
  background-color: $c-base!important;
}

.input-group-btn .btn {
  color: $c-secondary;

  &:hover {
    background-color: $c-base-lighter!important;
  }
}

button {
  .spinner-border {
    margin-left: 12px;
  }
}

.label {
  i {
    margin-right: 8px;
  }
}

.errorMessage {
  padding-top: 12px;
  color: $c-danger
}

.react-json-view {

  textarea {
    background-color: $c-base!important;
  }

  .key-modal-input {
    background-color: $c-base!important;
  }

  > div > div {
    background-color: $c-base!important;

    > span {
      background-color: $c-base-light!important;
    }
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none!important;
  }
}

