@import './styles/constants.scss';

main {
  padding: 20px 0;
}

.form-control,
.input-group-addon,
.form-control[readonly],
.input-group-btn .btn {
  background-color: $c-base!important;
}

.input-group-btn .btn {
  color: $c-secondary;

  &:hover {
    background-color: $c-base-lighter!important;
  }
}

