@import "../constants.scss";

@mixin overflowFade($maskWidth, $vertical: false) {
  $mask-image-content: linear-gradient(
    to if($vertical, top, right),
    transparent,
    $c-base-darker $maskWidth,
    $c-base-darker calc(100% - $maskWidth),
    transparent
  );
  $maskSize: 100% 100%;
  $maskPosition: 0 0;
  $maskRepeat: no-repeat, no-repeat;

  mask-image: $mask-image-content;
  -webkit-mask-image: $mask-image-content;

  mask-size: $maskSize;
  -webkit-mask-size: $maskSize;

  mask-position: $maskPosition;
  -webkit-mask-position: $maskPosition;

  mask-repeat: $maskRepeat;
  -webkit-mask-repeat: $maskRepeat;
}
