@import '../constants.scss';

@mixin primaryLink {
  position: relative;

  > span {
    z-index: 2;
    position: relative;
  }

  &::before {
    position:absolute;
    top: 0;
    left: 0;
    transition: opacity 0.1s;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $c-primary;
    opacity: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    &:hover,
    &:focus,
    &.active {
      &::before {
        opacity: 1;
      }

      @content;
    }
  }
}
