@mixin styledList {
  margin-bottom: 0 !important;

  > * {
    border: none !important;
    border-radius: 6px !important;
    padding: 8px 15px !important;
    height: 60px;

    + * {
      margin-top: 8px;
    }
  }
}
