@mixin styledList {
  margin-bottom: 0!important;

  .list-group-item {
    border: none;
    border-radius: 6px!important;
    height: 68px;

    + .list-group-item {
      margin-top: 12px;
    }
  }
}
