@import "../constants.scss";

@mixin styledList {
  margin-bottom: 0 !important;

  div[role="listitem"] {
    border: none !important;
    border-radius: 6px !important;
    padding: 0 !important;
    height: 48px;

    // TODO - refactor after migrating to Bootstrap@5
    &:hover:not([aria-current="true"]) {
      background-color: $c-base-light;
    }

    + div[role="listitem"] {
      margin-top: 8px;
    }

    > a {
      display: block;
      padding: 0.5rem 1rem !important;
    }
  }
}
