@import "@/styles/constants.scss";
@import "@/styles/mixins/responsive";

.authCard {
  padding: 24px 20px 20px !important;
  border: 1px solid $c-base-light;
  width: 360px;
  margin-bottom: auto !important;
  min-height: 564px;
  display: flex;
  flex-flow: column nowrap;

  @include responsive(sm) {
    border: none !important;
    width: 100%;
  }
}
