@import 'src/styles/constants.scss';

.authCard {
  padding: 20px!important;
  padding-top: 24px!important;
  border: 1px solid $c-base-light;
  width: 360px;
  margin-bottom: auto!important;
  height: 486px;
  display: flex;
  flex-flow: column nowrap;
}
