@import 'src/styles/constants.scss';

.button {
  outline: none!important;
  display: inline-block;
  padding: 4px 8px!important;
  color: $c-secondary-darker;
  background-color: $c-base-darker!important;
  border: none!important;

  &:hover,
  &:focus {
    color: $c-secondary!important;
  }
}
