@import '../../../styles/constants.scss';

.loginForm {
  padding: 20px!important;
  padding-top: 24px!important;
  border: 1px solid $c-base-light;
  width: 360px;
  margin-bottom: auto!important;

  img {
    border: 1px solid $c-base-light;
    margin-bottom: 24px;
    width: 100%;
  }

  i {
    width: 20px;
  }

  .form-group {
    margin-bottom: 18px;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    background-color: $c-secondary-darker!important;
    -webkit-text-fill-color: $c-secondary;
    caret-color: $c-secondary;
    transition: background-color 5000s ease-in-out 0s;
  }
}
