@import "@/styles/constants.scss";

.logoImage {
  border: 1px solid $c-base-light;
  margin-bottom: 24px;
  width: 100%;
}

.icon {
  width: 20px;
}

.control {
  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    background-color: $c-secondary-darker !important;
    -webkit-text-fill-color: $c-secondary;
    caret-color: $c-secondary;
    transition: background-color 5000s ease-in-out 0s;
  }
}
