.createTradeOrderForm {
  .input-group {
    input[type=number] {
      text-align: right;
      border-right: none;
      padding-right: 0;

      &::placeholder {
        text-align: left;
      }
    }
  }
}
