.detailsTitle {
  margin-bottom: 12px;
  text-align: right;
  width: 100%;
  padding: 10px 10px 0;
}

.control {
  input[type="number"] {
    text-align: right;
    border-right: none;
    padding-right: 0;

    &::placeholder {
      text-align: left;
    }
  }
}

.errorMsg {
  height: 3rem;
  display: flex;
  align-items: center;
}
